


:root{
    --body-color: #000616;
    --theme-color: #F8AF08;
    --base-color: #35C31E;

    --header-color: #000616;
    --banner-color: #0F5638;
    --banner-box: #18233F;
    --button-color: #77C746;
    --box-bg: #156742;
    --site-bar: #0A3422;
    --border: #559C7E;
    --tab-color: #5CAD8B;
    --tab-hov: #FFC926;
    --faq-bg: #00321D;
    --jack-bg: #2B2D43;;

    



    --box-two: #25355C;
    --modal-bg: #242D04;
    --custom-base: #0593F0;
    --section-bg: #231d70;
    --white-color: #fff;
    --black-theme: #151515;
    --black-color: #000000;
    --calender: #191D23;
    --ratting-color: #E4A853;
    --pragraph-color: #666666;
    --border-two: #A09FC8;;
    --cate-border: #E1CFB7;
    --placehol: #b0bcde;
}